
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.center{
    align-items: center;
    justify-content: center;
}

ul{
    padding-right: 10px;
    list-style-type: none;
}

li{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

header{
    padding-bottom: 80px;
}
.head{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #FF6A00;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    z-index: 1;     
}

.personal{
    width: 10%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
}

.navigation{
    font-size: 1.5rem;
}

.navigation,
.personal{
    gap: 1rem;
}

.logo{
    text-align: center;
    width: 10rem;
}

.bag{
    width: 1.5rem;
}

.guy,
.love{
    width: 1.5em;
}

main{
    margin-bottom: 5rem;
}

.price{
    color: red;
    font-size: .8rem;
}

.real-price{
    text-decoration: line-through;
    font-size: .8rem;
}

.container{
    flex-wrap: wrap;
    margin: 80px 200px;
    justify-content: space-between;
}

.card{
    margin-bottom: 80px;
    position: relative;
    width: 300px;
    height: 400px;
}

.adv{
    position: absolute;
    bottom: 30px;
    gap: .2rem;
}

.sconto{
    background-color:red;
    color: white;
}

.eco{
    background-color: green;
}

.heart{
    position: absolute;
    right: 0;
    top: 10px;
    padding: 0 0.5rem;
    font-size: 2rem;
    background-color: white;
}

.heart:hover{
    display: inline-block;
    color: red;
}

.index{
    position: absolute;
    top: 100%;
}

.foot{
    height: 100px;
    color: white;
    background-color: #1A1A1A;
    padding: 0 200px;
    justify-content: space-between;
}

.information{
    gap: 2rem;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.icon{
    width: 1.5em;
}

.page{
    padding-top: 1.5rem;
}

.foot-title{
    padding-bottom: .7rem;
}

.alternative{
    display: none;
}

.cover{
    background-size: cover;
}

.man1{
    background-image: url(../img/1.webp);
}

.man2{
    background-image: url(../img/4.webp);
}

.woman1{
    background-image: url(../img/2.webp);
}

.woman2{
    background-image: url(../img/3.webp);
}

.woman3{
    background-image: url(../img/5.webp);
}

.woman4{
    background-image: url(../img/6.webp);
}

.man1:hover{
    background-image: url(../img/1b.webp);
    display: inline-block;
    background-size: cover;
}

.woman1:hover{
    background-image: url(../img/2b.webp);
    display: inline-block;
    background-size: cover;
}

.woman2:hover{
    background-image: url(../img/3b.webp);
    display: inline-block;
    background-size: cover;
}

.man2:hover{
    background-image: url(../img/4b.webp);
    display: inline-block;
    background-size: cover;
}

.woman3:hover{
    background-image: url(../img/5b.webp);
    display: inline-block;
    background-size: cover;
}

.woman4:hover{
    background-image: url(../img/6b.webp);
    display: inline-block;
    background-size: cover;
}