
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.center{
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
}

/* ELIMINARE TUTTE LE ALTEZZE FISSE CON L'INSERIMENTO DEL CONTENUTO!!! */

.head{
    width: 100%;
    height: 100px;
    background-color: #FF6A00;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;       /* <--- sistemare dopo inserimento contenuti*/
    margin-bottom: 100px;  /* <--- sistemare dopo inserimento contenuti*/ 
}

li{
    align-items: center;
    justify-content: center;
    text-align: center;
    width:80px;
    border: 2px solid blue;
}

.logo{
    text-align: center;
    width: 100px;
    height: 50px;
    border: 2px solid black;
}


main{
    margin-bottom: 5rem;
}


.container{
    padding: 0 200px;
    justify-content: space-between;

}

.row{
    margin-top: 80px;   /* <--- sistemare dopo inserimento contenuti  */
}

.card{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: red;
    border: 5px solid blue;
}

.sconto{
    position: absolute;
    bottom: 30px;
    background-color:turquoise;
    border: 2px solid black;
}

.eco{
    bottom: 30px;
    left: 50px;
    position: absolute;
    background-color: green;
    border: 2px solid black;
}

.heart{
    position: absolute;
    right: 0;
    top: 10px;
    padding: 0 0.5rem;
    font-size: 2rem;
    background-color: white;
}


.foot{
    height: 100px;
    color: white;
    background-color: #1A1A1A;
    padding: 0 200px;
    justify-content: space-between;
}


.alternative{
    display: none;

}


.man1:hover{
    background-color: fuchsia;
    display: inline-block;
    background-size: cover;
}

.woman1:hover{
    background-color: fuchsia;
    display: inline-block;
    background-size: cover;
}

.woman2:hover{
    background-color: fuchsia;
    display: inline-block;
    background-size: cover;
}

.man2:hover{
    background-color: fuchsia;
    display: inline-block;
    background-size: cover;
}

.woman3:hover{
    background-color: fuchsia;
    display: inline-block;
    background-size: cover;
}

.woman4:hover{
    background-color: fuchsia;
    display: inline-block;
    background-size: cover;
}